body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 2rem;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 1rem;
}
.search-container {
  position: relative;
}
.search-btn {
  position: absolute;
  right: 0.7rem;
  top: 1rem;
}

.filter-radio-btns {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}